@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "jakarta";
    src: url(./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

body{
    font-family: jakarta;
}